<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgq.sharding.mapper.AlarmEventMapper">


    <sql id="baseColumns">
        a.id,
		 a.creator_id,
		 a.creator_name,
		 a.create_time,
		 a.is_deleted,
		 a.vin,
		 a.vno,
		 a.risk_level,
		 a.alarm_start_time,
		 a.alarm_end_time,
		 a.risk_type,
		 a.handle_status,
		 a.handle_results,
         a.generate_source
    </sql>


    <!-- 列表  -->
    <select id="findAlarmEventList" resultType="com.lgq.sharding.entity.AlarmEvent">
        SELECT
        <include refid="baseColumns"/>
        FROM alarm_event a
        WHERE alarm_start_time &gt;=#{startTime} and alarm_start_time &lt;=#{endTime}
        or risk_type=1
        ORDER BY a.alarm_start_time DESC
    </select>


    <select id="getAlarmEventCount4Hour" resultType="com.lgq.sharding.entity.AlarmEventCount4Hour">
        SELECT
        DATE_FORMAT(alarm_start_time,'%H') hour_time,
        sum(if(risk_type=0,1,0)) speed_total,
        sum(if(risk_type=1,1,0)) fierce_total,
        sum(if(risk_type=2,1,0)) distract_total,
        sum(if(risk_type=3,1,0)) tired_total
        FROM alarm_event a
        <where>
            <include refid="countCondition"/>
        </where>
        GROUP BY DATE_FORMAT(alarm_start_time,'%H')
        order by DATE_FORMAT(alarm_start_time,'%H')
    </select>

    <sql id="countCondition">
        <if test="startTime!=null">AND a.alarm_start_time <![CDATA[>=]]> #{startTime}</if>
        <if test="endTime!=null">AND a.alarm_start_time <![CDATA[<=]]> #{endTime}</if>
        <if test="riskLevel!=null and riskLevel!=''">AND a.risk_level = #{riskLevel}</if>
        <if test="riskType!=null and riskType!=''">AND a.risk_type = #{riskType}</if>
        <if test="handleStatus!=null and handleStatus!=''">AND a.handle_status = #{handleStatus}</if>
        <if test="carVins!=null and carVins.size>0">
            AND a.vin in
            <foreach collection="carVins" item="carVin" open="(" close=")" separator=",">
                #{carVin}
            </foreach>
        </if>
    </sql>


    <select id="alarmCount4RiskType" resultType="com.lgq.sharding.entity.AlarmCountTop">
        SELECT
        vin car_vin,count(a.vin) alarmCount
        FROM alarm_event a
        <where>
            <include refid="countCondition"/>
        </where>
        group by
        a.vin
        order by count(a.vin)
        desc
        limit 10
    </select>
    <select id="getRiskAndHandleCount" resultType="com.lgq.sharding.entity.RiskAndHandleCount">
        SELECT
        count(1) total,
        count(if(handle_status = 1,TRUE,NULL)) handle
        FROM alarm_event a
        where
        a.handle_status != 4 and a.handle_status != 2
        <include refid="countCondition"/>
    </select>

    <select id="groupHaving" resultType="com.lgq.sharding.entity.CountDto">
        select risk_type, count(1) total,sum(case when risk_level = 1 then 1 else 0 end) num
        from alarm_event
        where alarm_start_time &gt;= #{startTime}
          and alarm_start_time &lt;= #{endTime}
        group by risk_type

    </select>
</mapper>